@model EcoVidaCR.Models.Voluntariados

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="fondoDestinos">

<h1 class="text-center">Eliminar Voluntariado</h1>
<hr />

<h3>¿Estás seguro de eliminar?</h3>
<div class="row">
    <div class="col-lg-6">
        <dl class="row">
            <dt >
                @Html.DisplayNameFor(model => model.idVoluntariado)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.idVoluntariado)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.nombreVoluntariado)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.nombreVoluntariado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.idDestino)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.idDestino)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.correo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>
        </dl>
        <form asp-action="Delete" class="text-center" mt-2>
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </form>
        </div>
         
        <div class="col-lg-6">
        <div>
            <img src="~/img/voluntariados/Eliminar.png" class="img-fluid"/><br>
        </div>
    </div>

</div>
</body>
